body{
    margin: 0;
    padding: 0;
}

#Page {

    width: 900px;
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
    transition: all 0.2s;



    #Header {

        position: fixed;
        width: 900px;
        top: 0;
        background: black;
        padding: 0 10px 10px 10px;
        color: white;
        z-index: 10;

        a { color: white; }



        .logo {

            float: left;
            font-size: 36px;
            font-weight: bolder;
            transition: all 0.2s;

            &:hover { color: #D3D3D3; transition: all 0.2s; }


        }

        .separator {

            float: left;
            border-left: 3px solid white;
            height: 38px;
            margin: 10px 10px 0 10px;
        }

        .text {

            float: left;
            margin: 9px 0 0 0;
            font-size: 18px;
            line-height: 19px;


        }

        .info {

            float: right;
            margin-top: 15px;
            transition: all 0.2s;

            .textovka { font-size: 13px; }

        i.fa {

                margin-left: 10px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover { color: #D3D3D3; }

            }

        }




    }

    #Filter {

        padding: 10px 10px 15px 10px;
        margin-top: 65px;
        transition: all 0.2s;

        button {
            border-radius: 0;
            transition: all 0.2s;

            &:hover { background-color: #D3D3D3;  }

            &:focus { outline: none; box-shadow: none; }

            &:visited { box-shadow: none; }

            &:active { background-color: #D3D3D3; color: black; box-shadow: none; }


        }

        .btn-primary.active { background-color: #D3D3D3; color: black;  }

        .btn-primary:active { background-color: #D3D3D3; color: black;  }


        .btn-default.focus, .btn-default:focus { background: none; }

        .btn-default.hover, .btn-default:hover { background-color: #D3D3D3; color: black; }


        .searchBoxFilter {

            margin-bottom: 10px;
            border: 1px solid black;

            input#inlineFormInputGroup.form-control {

                border: none;
                color: black !important;
                outline: none;
                box-shadow: none;

            }

            .input-group-addon {

                background-color: white;
                border: none;

            }

            .form-control input{ color: black !important; }


        }

        .dateRadioFilter {

            button {

                width: 24.2%;
                text-align: center;
                padding: 0 7px 0 5px;
                margin-bottom: 5px;
                font-weight: 500;
                border: 1px solid black;

                &:active { background: #D3D3D3; }



            }

            .radioChecked { background-color: #D3D3D3; }


        }

        .filterTitle { width: 100%; display: inline-block; margin-bottom: 5px; font-weight: 500; }

        .ownDate { margin-left: 25.2% }

        .categoryCheckbox {

            position: relative;

            margin-bottom: 10px;

            button { border: 1px solid black; font-weight: bolder; height: 120px;  padding: 0 0 50px 0; width: 16.2%; text-align: center;

                &.politics {

                    -moz-box-shadow: inset 0 -12px 0 0 rgba(255, 0, 0, 0.5);
                    -webkit-box-shadow: inset 0 -12px 0 0 rgba(255, 0, 0, 0.5);
                    box-shadow: inset 0 -12px 0 0 rgba(255, 0, 0, 0.5);

                    &.active {

                        -moz-box-shadow: inset 0 -24px 0 0 rgba(255, 0, 0, 0.5);
                        -webkit-box-shadow: inset 0 -24px 0 0 rgba(255, 0, 0, 0.5);
                        box-shadow: inset 0 -24px 0 0 rgba(255, 0, 0, 0.5);

                    }

                }

                &.sport {

                    -moz-box-shadow: inset 0 -12px 0 0 rgba(26, 144, 255, 0.5);
                    -webkit-box-shadow: inset 0 -12px 0 0 rgba(26, 144, 255, 0.5);
                    box-shadow: inset 0 -12px 0 0 rgba(26, 144, 255, 0.5);

                    &.active {

                        -moz-box-shadow: inset 0 -24px 0 0 rgba(26, 144, 255, 0.5);
                        -webkit-box-shadow: inset 0 -1224 0 0 rgba(26, 144, 255, 0.5);
                        box-shadow: inset 0 -24px 0 0 rgba(26, 144, 255, 0.5);

                    }

                }

                &.culture {

                    -moz-box-shadow: inset 0 -12px 0 0 rgba(0, 128, 0, 0.5);
                    -webkit-box-shadow: inset 0 -12px 0 0 rgba(0, 128, 0, 0.5);
                    box-shadow: inset 0 -12px 0 0 rgba(0, 128, 0, 0.5);

                    &.active {

                        -moz-box-shadow: inset 0 -24px 0 0 rgba(0, 128, 0, 0.5);
                        -webkit-box-shadow: inset 0 -24px 0 0 rgba(0, 128, 0, 0.5);
                        box-shadow: inset 0 -24px 0 0 rgba(0, 128, 0, 0.5);

                    }
                }

                &.abroad {

                    -moz-box-shadow: inset 0 -12px 0 0 rgba(127, 0, 128, 0.5);
                    -webkit-box-shadow: inset 0 -12px 0 0 rgba(127, 0, 128, 0.5);
                    box-shadow: inset 0 -12px 0 0 rgba(127, 0, 128, 0.5);

                    &.active {

                        -moz-box-shadow: inset 0 -24px 0 0 rgba(127, 0, 128, 0.5);
                        -webkit-box-shadow: inset 0 -24px 0 0 rgba(127, 0, 128, 0.5);
                        box-shadow: inset 0 -24px 0 0 rgba(127, 0, 128, 0.5);

                    }

                }

                &.economy {

                    -moz-box-shadow: inset 0 -12px 0 0 rgba(255, 255, 0, 0.5);
                    -webkit-box-shadow: inset 0 -12px 0 0 rgba(255, 255, 0, 0.5);
                    box-shadow: inset 0 -12px 0 0 rgba(255, 255, 0, 0.5);

                    &.active {

                        -moz-box-shadow: inset 0 -24px 0 0 rgba(255, 255, 0, 0.5);
                        -webkit-box-shadow: inset 0 -24px 0 0 rgba(255, 255, 0, 0.5);
                        box-shadow: inset 0 -24px 0 0 rgba(255, 255, 0, 0.5);

                    }
                }

                &.technology {

                    -moz-box-shadow: inset 0 -12px 0 0 rgba(0,0,0, 0.5);
                    -webkit-box-shadow: inset 0 -12px 0 0 rgba(0,0,0, 0.5);
                    box-shadow: inset 0 -12px 0 0 rgba(0,0,0, 0.5);

                    &.active {

                        -moz-box-shadow: inset 0 -24px 0 0 rgba(0,0,0, 0.5);
                        -webkit-box-shadow: inset 0 -24px 0 0 rgba(0,0,0, 0.5);
                        box-shadow: inset 0 -24px 0 0 rgba(0,0,0, 0.5);

                    }

                }


            }







        }


    }

    .filterEnd { border-bottom: 5px solid black; }

    #List {

        margin-bottom: 0;

        .pgnBottom { margin-bottom: 65px; }

        a {

            clear: both;
            text-decoration: none;
            outline: none;
            box-shadow: none;


        }

        .listItem {

            color: black;
            padding: 10px 10px 25px 10px;
            transition: all 0.2s;
            position: relative;

            //img { max-width: 100px !important; height: auto; float: left; margin: 4px 10px 15px 0; }
            img { display: none; }
            .color { height: 13px; width: 65px; right: 10px; top: 15px; position: absolute; line-height: 9px; text-align: center;

                span {

                    font-size: 11px; color: black;
                }

            }

            .jedna { background-color: rgba(255, 0, 0, 0.5); }
            .dva { background-color: rgba(26, 144, 255, 0.5); }
            .tri { background-color: rgba(0, 128, 0, 0.5); }
            .ctyri { background-color: rgba(127, 0, 128, 0.5); }
            .pet { background-color: rgba(255, 255, 0, 0.5); }
            .sest { background-color: rgba(0, 0, 0, 0.5); }

            .itemTitle {

                font-size: 16px;
                font-weight: bolder;
                margin-bottom: 10px;
                margin-right: 40px;
                width: 80%;
                word-wrap: break-word;
                display: inline-block;



            }

            .itemPerex {

                margin-top: 3px;

                img { max-width: 100px !important; height: auto; float: left; margin: 4px 10px 15px 0; }

            }

            .itemServer { float: left; }

            .itemDate { float: right; }

            &:hover { background-color: #D3D3D3; }

        }

        a:hover { text-decoration: none; background-color: #D3D3D3; transition: all 0.2s; }



    }

    #Footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        background-color: white;
        padding: 5px;
        transition: all 0.2s;

        #InnerFooter {

            width: 900px;
            margin: 0 auto;

            .copyright { float: left; line-height: 42px; color: gray; }

            .paginator {

                text-align: center;
                width: 450px;
                font-size: 16px;
                font-weight: bold;
                color: gray;
                margin: 0 auto;
                padding: 10px 0 10px 0;

                .pageLeftSingle { margin-right: 5px; }

                .pageLeftFirst { margin-right: -3px; }

                .pageRightSingle { margin-left: 5px; }

                .pageRightLast { margin-left: -3px; }

                .paginationText { margin: 0 10px; padding-bottom: 2px; }


            }

            .arrowUp {

                float: right;
                padding-top: 7px;
                transition: all 0.2s;
                cursor: pointer;
                color: black;
            }

        }

    }

    .noClick { pointer-events: none; color: #333333; transition: all 0.2s; }

    .noClickArrow { pointer-events: none; color: #D3D3D3 !important; transition: all 0.2s; }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }

}

@media screen and (max-width: 920px) {

    #Page {

        max-width: 100%;
        transition: all 0.2s;

        #Header {

            width: 100%;

        }

        #Filter {

            width: 100%;
            padding: 10px 0;

            div.row { width: 100%; margin: 0; }

            .col-sm-8 {
                transition: all 0.2s;

                width: 50%;
                display: inline-block;
                padding: 0;

                .categoryCheckbox {

                    padding-right: 10px;

                    .button-checkbox {

                        width: 30%;
                        display: inline-block;
                        float: left;
                        margin-right: 5px;

                        .catText { margin-top: -5px; }

                        button {

                            height: 58px;
                            width: 100%;
                            padding: 10px;
                            margin-bottom: 5px;



                        }

                    }

                }

            }

            .col-sm-4 {

                width: 363px;
                margin: 0 auto;


            }


        }

       #Footer {

            padding-bottom: 10px;

            #InnerFooter {

                width: 100%;

            }

        }

    }

}

@media screen and (max-width: 767px) {

    #Page{
        transition: all 0.2s;

        #Filter {


            .col-sm-8 {
                transition: all 0.2s;

                padding: 5px 0 0 15px;
                width: 363px;
                margin: 0 auto;
                display: block;

                .categoryCheckbox {

                    padding-right: 10px;

                    .button-checkbox {

                        width: 107px;
                        display: inline-block;
                        float: left;

                        button {

                            height: 60px;
                            width: 100%;
                            padding: 0;
                            margin-bottom: 5px;



                        }

                    }

                }


            }

            .col-sm-4 {

                float: none;


            }


        }


    }



}

@media screen and (max-width: 599px) and (min-width: 468px) {

    #Page {

        #Header {


            .info { display: inline-block; width: 100%; text-align: center; }

        }

        #Filter {

            margin-top: 109px;

        }

        #Footer {

            #InnerFooter {

                max-width: 599px;

            }

        }



    }

}

@media screen and (max-width: 467px) and (min-width: 0px) {

    #Page {

        #Header {


            .info { display: inline-block; width: 100%; text-align: center; }

            .logo {

                width: 100%;
                text-align: center;

            }

            .separator {

                display: none;
            }

            .text {

                text-align: center;
                width: 100%;
                height: 40px;
            }

        }

        #Filter {

            margin-top: 162px;

        }

        #List {

            .pgnBottom { margin-bottom: 95px; }



        }

        #Footer {

            #InnerFooter {

                width: 100%;

                .paginator { width: 100%; display: inline-block;  }

                .copyright { display: none; }

                .arrowUp { width: 100%; text-align: center; }


            }

        }


    }

}